@font-face {
    font-family: "Helvetica-Neue";
    font-weight: 400;
    font-style: normal;
    src: local("Helvetica-Neue regular"), local("Helvetica-Neue-regular"), url("../fonts/Helvetica-Neue-regular.woff2") format("woff2"), url("../fonts/Helvetica-Neue-regular.woff") format("woff"), url("../fonts/Helvetica-Neue-regular.ttf") format("truetype");
}
@font-face {
    font-family: "Helvetica-Neue";
    font-weight: 500;
    font-style: normal;
    src: local("Helvetica-Neue medium"), local("Helvetica-Neue-medium"), url("../fonts/Helvetica-Neue-medium.woff2") format("woff2"), url("../fonts/Helvetica-Neue-medium.woff") format("woff"), url("../fonts/Helvetica-Neue-medium.ttf") format("truetype");
}
