.btn-close {
    background: url(../img/icons/btn-close.svg) center / contain no-repeat;
}
.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    transition: all .3s .1s ease-out;
    &.open {
        visibility: visible;
        opacity: 1;
        transition: all .3s ease-out;
        .modal__content {
            opacity: 1;
            transform: translateY(0);
            transition: all .3s .1s ease-out;
        }
    }
    .btn-close {
        width: 29px;
        height: 29px;
        position: absolute;
        top: -39px;
        right: -39px;
    }
    .main-btn {
        width: 100%;
    }
    &__overlay {
        padding: 40px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, 0.6);
        overflow: auto;
    }
    &__top {
        text-align: center;
        margin-bottom: 30px;
        h3 {
            font-size: 36px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
    &__content {
        width: 100%;
        max-width: 645px;
        padding: 30px;
        margin: auto;
        background: $light-gray;
        border-radius: 8px;
        position: relative;
        opacity: 0;
        transform: translateY(30px);
        transition: all .3s ease-out;
    }
    &__icon {
        width: 64px;
        height: 64px;
        margin: 0 auto 30px;
    }
    @media (max-width: $bp1) {
        .btn-close {
            width: 19px;
            height: 19px;
            top: -24px;
            right: -24px
        }
        &__top {
            margin-bottom: 20px;
            h3 {
                font-size: 30px;
                margin-bottom: 10px;
            }
        }
        &__icon {
            margin-bottom: 20px;
        }
        &__content {
            max-width: 557px;
            padding: 20px;
        }
    }
    @media (max-width: $bp2) {
        &__top {
            h3 {
                font-size: 24px;
            }
        }
    }
    @media (max-width: $bp4) {
        .btn-close {
            width: 14px;
            height: 14px;
            right: 20px;
            top: -34px;
        }
        &__top {
            p {
                font-size: 14px;
                max-width: 284px;
                margin: 0 auto;
            }
        }
        &__icon {
            width: 48px;
            height: 48px;
        }
        &__overlay {
            padding: 40px 0 0;
            overflow: hidden;
        }
        &__content {
            max-width: 100%;
            max-height: 100%;
            padding: 20px 10px;
            margin-bottom: 0;
            border-radius: 8px 8px 0 0;
            transform: translateY(30px);
            display: flex;
            flex-direction: column;
            .custom-scroll {
                flex: 1 1 auto;
                width: 100%;
                max-width: 530px;
                padding: 0 10px;
                margin: 0 auto;
                overflow: auto;
            }
        }
    } 
}
.review-mod {
    .item-form textarea {
        height: 196px;
    }
    @media (max-width: $bp1) {
        .item-form textarea {
            height: 156px;
        }
    }
    @media (max-width: $bp2) {
        .item-form textarea {
            height: 116px;
        }
    }
}
.success-mod {
    .modal__icon {
        background: url(../img/icons/icon-success.svg) center / contain no-repeat;
    }   
    @media (max-width: $bp4) {
        .modal__top{
            p {
                max-width: 220px;
            }
        }
    } 
}
.error-mod .modal__icon {
    background: url(../img/icons/icon-error.svg) center / contain no-repeat;
}
