:root {--vh: 1%}
$bp1: 1579.98px;
$bp2: 1270.98px;
$bp3: 992.98px;
$bp4: 767.98px;
$bp5: 575.98px;
$bp6: 479.98px;
$bp7: 374.98px;
$maincolor: #202020;
$gray: #7B7B7B;
$light-gray: #f4f4f4;
$white: #FFFFFF;
$black: #000000;
$red: #F4371C;

